# Virtual Environment
venv/
env/

# Python
__pycache__/
*.py[cod]
*.so

# Database
*.db
*.sqlite3

# IDE
.vscode/
.idea/

# Environment variables
.env
*.env

# Exports
exports/

# Docker
docker-compose.override.yml